---

---

<header class="header">
  <div class="container">
    <a href="/" class="header__logo">Game<span>Rec</span></a>
    <nav>
      <ul class="header__nav">
        <li><a href="/search">Search</a></li>
        <li><a href="/recommendations">Recommendations</a></li>
      </ul>
    </nav>
  </div>
</header>
